<div>
  <div>
    <h1>
      Follow request #<%= @the_follow_request.id %> details
    </h1>

    <div>
      <div>
        <a href="/follow_requests">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_follow_request/<%= @the_follow_request.id %>">
          Delete follow request
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_follow_request.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_follow_request.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit follow request
    </h2>

    <form action="/modify_follow_request/<%= @the_follow_request.id %>"  method="post" >
      <button>
        Update follow request
      </button>
    </form>
  </div>
</div>

<hr>
