<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>
<div><%= notice %></div>
<div><%= alert %></div>
  <h2>
      Add a new photo
  </h2>

  <% if current_user.present? %>
    <form action="/insert_photo" method="post">
    class="form-horizontal" enctype="multipart/form-data">
        
        <label for="browser_input_image">
          Image
        </label>

        <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
      
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>

    <button>
      Add photo
    </button>
  </form>

  <% end %>
<hr>

<div>
  <div>
    


    <form action="/insert_photo" method="post">
      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.image %>
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner.id %> 
        </td>

        <td>
          <%= a_photo.created_at %> 
        </td>

        <td>
          <%= a_photo.likes_count %> 
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
